body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #12c279;
    background-image: url(img/photo1.jpeg);
}

header {
    background-color: #054b90;
    color: white;
    padding: 20px 0;
    text-align: right;
}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}
nav a {
    color: white;
    text-decoration: none;
}


h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.about, .mission, .team {
    background: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

.team {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.team-member {
    text-align: center;
    margin: 10px;
    flex: 1 1 30%; /* Responsive: each member takes up about 30% of the row */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: #fff;
    padding: 10px;
}

.team-member img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}